#barChartSection{
    position: relative;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}
#barChartForm{
    position: absolute;
    height: 100%;
    width: 100%;
}

#barChartTitle{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ED6663;
    align-items: center;
}

#bar{
    position: relative;
    height: 80%;
    background-color: #1B262C;
}

#bar_chart{
    width: 90%;
    position: relative;
    height: 100%;
    align-self: start;
    justify-content: center;
    align-items: center;
}


#selectedGenreDiv1{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

select[name="platform_selection"]{
    text-align: center;
}