#bubblePlotDiv{
    position: relative;
    border-right: 1px solid white;
}

#bubblePlotForm{
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}

#bubblePlotTitle{
    height: 10%;
    display: flex;
    justify-content: center;
    color: #ED6663;
    align-items: center;
}

#bubblePlotText{
    height: 10%;
}

div.tooltip {
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 3px;
    font-size: x-small;
    font-weight: bold;
}

circle {
    cursor: pointer;
}
	
circle:hover {
    opacity:0.7;
}

#bubblePlot{
    position: relative;
    height: 80%;    
}

svg {
    position: relative;
    margin-top: 3%;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
