#donutChartSection{
    position: relative;
}

#donutChartForm{
    position: absolute;
    height: 100%;
    width: 100%;
}

#donutChartTitle{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ED6663;
}

#donutChartDiv{
    position: relative;
    height: 90%;
}

#donut_chart{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}