#mapChartSection{
    height: 80vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    /* border: 3px solid white; */
    /* background-color: blue; */
}

#mapChartTitle{
    height: 10%;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

#choropleth_symbol{
    position: relative;
    height: 90%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

#choropleth_symbol_map{
    width: 80%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}