#mapChartSection{
    height: 80vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#mapChartTitle{
    height: 10%;
    display: flex;
    justify-content: center;
    color: #ED6663;
    align-items: center;
}

#choropleth_symbol{
    position: relative;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#choropleth_symbol_map{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}