#radialPlotSection{
    position: relative;
}

#radialPlotForm{
    position: absolute;
    height: 100%;
    width: 100%;
}

#radialPlotTitle{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ED6663;
}

#radialPlotText{
    height: 10%;
}

#radialPlotDiv{
    position: relative;
    height: 80%
}

#radial_plot{
    width: 100%;
    height: 90%;
    align-self: start;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vega-bind{
    color: white;
}

select[name="Month_selection"]{
    text-align: center;
}