*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container{
    position: relative;
}

#container-fluid{
    background-color: #1B262C;
    width: 80%;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;

}

#title{
    color: #ED6663;
    text-align: center;
    height: 10em;
    border-bottom: 1px solid white;
}

h4{
    color: #ED6663;
    text-align: center;
}

p{
    color: white;
    text-align: center;
    font-size: 0.4em;
}

b{
    color: #ED6663;
    font-size: x-large;
}

#map{
    height: 58.8vh;
    border-bottom: 1px solid white;
    position: relative;

}

#bubble, #radial, #donut, #bar{
    height: 58.8vh;
    width: 100%;
    position: relative;
    text-align: center;
}

#mapChart{
    width: 98%; 
    height: 100%;
}

#bubblePlot, #donutChart{
    height: 100%;
    width: 100%;
}

#bubbleSection, #barSection{
    border-right: 1px solid white;
    position: relative;
}

#radialChart{
    width: 100%; 
    height: 90%;
}

#barChart{
    height: 90%;
    width: 90%;    
}

.vega-bind{
    color: white;
    text-align: center
}

select[name="Month_selection"]{
    text-align: center;
}

svg {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.tooltip {
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 3px;
    font-size: x-small;
    font-weight: bold;
}

circle {
    cursor: pointer;
}
	
circle:hover {
    opacity:0.7;
}

#genreTitle{
    border-top: 1px solid white;
}

#genreSelection{    
    border-bottom: 1px solid white;
}

.form-group{
    width: 100%;
    text-align: center;
}

input{
    height: 60px;
    text-align: center;
}

input:hover{
    opacity: 0.7;
}

#titleForm{
    width: max-content;
}
